@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html {
    font-family: Raleway;
    font-weight: lighter;
    background-color: #0f1b23;
}

body {
    margin: 0;
    height: 100vh;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.nav-title {
    display: flex;
    align-items: center;
    color: whitesmoke;
    text-decoration: none;
}

#logo {
    height: 80px;
    border-radius: 50%;
}

.btn-list {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-list a {
    text-decoration: none;
    color: #a22a35;
    padding: 10px;
    font-size: 20px;
}

.btn-list a:hover {
    color: whitesmoke;
}

main {
    background-image: url("resources/images/bg1-img.png");
    background-size:contain;
    background-repeat: no-repeat;
    color: whitesmoke;
    padding: 20px;
    height: 80vh;
    display: flex;
    align-items: center;
}

main h1 {
    max-width: 70vw;
    font-size: 5vw;
    margin-right: 10px;
    margin-left: auto;
    font-weight: normal;
    text-shadow: 10px 10px 10px black;
    opacity: 0;
    animation: fadeIn 3s ease-out forwards;
}

main h1 b {
    color: #a22a35;
}

/* ABOUT SECTIONS CSS*/
.about-section {
    color: whitesmoke;
    background-color: #0f1b23;
}

.title {
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
    text-shadow: 10px 10px 10px black;
}

.title span {
    color: #a22a35;
}

.about-section .content {
    display: flex;
    flex-wrap: wrap;
}

#about-img {
    max-height: 400px;
    flex: 1;
    filter: grayscale(0.7);
    object-fit: cover;
}

.about-description {
    flex: 1;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    line-height: 1.5;
    max-width: 75%;
    margin: auto;
}

/*.about-section h2 {
    font-weight: normal;
    text-align: center;
    font-size: 40px;
}

.about-section h2 span {
    color: #a22a35;
    text-shadow: 10px 10px 10px black;
}

.services {
    width: 80%;
    margin: auto;
}

.services .service-object {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

@media (max-width:800px) {
    .services .service-object {
        display: block;
    }
}

.services div h3 {
    font-size: 30px;
    font-weight: normal;
    color: #a22a35;
}

.l-img, .r-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    border-color: whitesmoke;
    border-width: 2px;
    border-style: solid;
    filter: grayscale(80%);
}

.r-content {
    flex: 1;
    padding: 20px;
}

.r-content h3 {
    margin: 0;
}

.l-content {
    flex: 1;
    padding: 20px;
}

.l-content h3 {
    text-align: right;
    margin: 0;
}

.l-content div {
    float: right;
}

.description {
    line-height: 1.5;
    max-width: 600px;
}*/


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}