@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html {
    font-family: 'Titillium Web', sans-serif;
    font-weight: lighter;
    background-color: #0f1b23;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

/*FOOTER SECTION CSS*/
footer {
    color: whitesmoke;
}

footer .main-div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

footer .main-div .copyright-div {
    flex: 1;
    font-size: 15px;
    display: flex;
    align-items: center;
}

footer .main-div .copyright-div img {
    height: 100px;
}